{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-unused-vars": 0,
    "import/order": [
      "warn",
      {
        "groups": [
          ["builtin", "external"],
          ["internal", "type"],
          ["parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "apis/**",
            "group": "internal"
          },
          {
            "pattern": "app/**",
            "group": "internal"
          },
          {
            "pattern": "assets/**",
            "group": "internal"
          },
          {
            "pattern": "hooks/**",
            "group": "internal"
          },
          {
            "pattern": "libs/**",
            "group": "internal"
          },
          {
            "pattern": "pages/**",
            "group": "internal"
          },
          {
            "pattern": "redux/**",
            "group": "internal"
          },
          {
            "pattern": "utils/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["internal"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
